<!-- <ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" color="dark">

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>New Films</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [movies]="recentMovies"></app-slideshow-backdrop>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Billboard</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-poster [moviesPoster]="recentMovies"></app-slideshow-poster>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Popular</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-par [moviesPoster]="popular" (moreFilms)="moreFilms()"></app-slideshow-par>

</ion-content>