.poster {
    width: 110px !important;
    //height: 160px !important;
    --background: none !important;
}

.parCol {
    margin-bottom: -1.3rem;
}

.more-slide {
    height: 300px;
}

.more-btn {
    position: relative;
    top: 13%;
}