<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar color="dark">
  <ion-searchbar placeholder="Search" [debounce]="700" [value]="searchTxt" (ionChange)="search($event)">
  </ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true" color="dark">

  <ion-grid *ngIf="searching">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner color="danger" name="bubbles"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="movies.length === 0" color="dark">
    <ion-list-header color="dark">
      <ion-label>Suggestions</ion-label>
    </ion-list-header>

    <ion-item color="dark" *ngFor="let suggestion of suggestions" (click)="searchTxt = suggestion">
      <ion-label color="danger">{{suggestion}}</ion-label>
    </ion-item>

  </ion-list>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let movie of movies">
        <ion-card class="posterSearch" (click)="details(movie.id)">
          <img [src]="movie.poster_path | image">
          <ion-card-header>
            <ion-card-subtitle>{{movie.release_date}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <h3>{{movie.title}}</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>